*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: ballpark;
    src: url(../polices/ballpark.woff);
}

@font-face {
    font-family: dayrom;
    src: url(../polices/dayrom.woff);
}


body{
    font-family: Ballpark Weiner,sans-serif;
    font-family: dayrom,serif;
    background-color: #F7EBCC;
}

/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid #760001;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 70px;
}

nav ul li,a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.titre h1{
    font-family: ballpark,serif;
    font-weight: 400;
    font-style: normal;
}

/* main */
.banniere{
    padding: 20px 80px;
}
.conteneur-banniere{
    background-image: url(../images/sanfrancisco.jpg);
    object-fit: cover;
    mask-repeat: no-repeat;
    height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.strip{
    align-items: center;
    background-color: rgb(36, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    color: white;
}
.bouton{
    background-color: red;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    padding: 6px 5px;
    color: white;
    gap: 5px;
    font-family: Ballpark Weiner,serif;
}
.conteneur-articles{
    padding: 0px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 430px;
}

article{
    width: 950px;
    margin-right: 30px;
}

.iconeepingle{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 10px;
}
article h2{
    padding: 10px 0px;
    text-align:justify
}
article p{
    font-size: 14px;
    text-align: justify;
    padding-bottom: 10px;   
}

p a{
    color: red;
    text-decoration: underline;
}

aside{
    width: 400px;
    height: 350px;
    background-color: #6F6A63;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
}

aside h2{
    padding: 5px 0px 5px 3px;
}

.goat{
    display: flex;
    justify-content: center;
}
.text1{
    font-size: 14px;
    text-align: justify;
    padding: 8px 0px;
}

.text2{
    font-size: 14px;
    text-align: justify;
    padding: 8px 0px;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 80px;
    border-top: 1px solid #760001;
}

.tweet{
    gap: 10px;
}
.tweet h1{
    font-size: 22px;
    padding-bottom: 10px;
}

.tweettext{
    padding: 10px 0px;
}

.mesphotos h1{
    font-size: 22px;
    padding-bottom: 10px;
}

.img{
    border: 3px solid black;
    gap: 10px;
}

.amis h1{
    font-size: 22px;
    padding-bottom: 10px;
}

.mesamis ul{
    column-count: 2;
    gap: 0; 
}

.mesamis ul li{
    list-style-type: none;
    color: red;
}